*.pyc
__pycache__
.idea
.ipynb_checkpoints
*.pt
.vscode
*.pkl
*.json
logs/
logs2/
input/train/
input/test/
*.zip
*.png
*.jpg
*.jpeg
dataset/
datasets/
*.bin
*.npy
*.npz
input/LIVECell_dataset_2021/
input/train_semi_supervised/
*.pth
output/

